In [104]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

pd.set_option('display.max_rows', 20)
pd.set_option('display.max_columns', 10)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', 36)
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.precision', 4)

# Prepare Dataset - Home Price

In [105]:
df_home_price = pd.read_csv("City_Zhvi_AllHomes.csv")

states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}
df_home_price.loc[:, "State"] = df_home_price["State"].map(states)


df_home_price = df_home_price.set_index(["State", "RegionName"])
df_home_price = df_home_price.loc[:, ["-" in col for col in df_home_price.columns]]


quarters = []
for year_month in df_home_price.columns:
    year = year_month[:4]
    month = year_month[-2:]
    if month in ["01", "02", "03"]:
        quarters.append("{}q1".format(year_month[:4]))
    elif month in ["04", "05", "06"]:
        quarters.append("{}q2".format(year_month[:4]))
    elif month in ["07", "08", "09"]:
        quarters.append("{}q3".format(year_month[:4]))
    elif month in ["10", "11", "12"]:
        quarters.append("{}q4".format(year_month[:4]))

df_home_price_quarter = df_home_price.T.groupby(quarters).mean().T
df_home_price_quarter = df_home_price_quarter.loc[:, df_home_price_quarter.columns >= "2000q1"]

df_home_price_quarter

                                       2000q1       2000q2       2000q3       2000q4       2001q1  ...       2015q3       2015q4       2016q1       2016q2    2016q3
State        RegionName                                                                            ...
New York     New York                     NaN          NaN          NaN          NaN          NaN  ...  557200.0000  572833.3333  582866.6667  591633.3333  587200.0
California   Los Angeles          207066.6667  214466.6667  220966.6667  226166.6667  233000.0000  ...  547266.6667  557733.3333  566033.3333  577466.6667  584050.0
Illinois     Chicago              138400.0000  143633.3333  147866.6667  152133.3333  156933.3333  ...  208300.0000  207900.0000  206066.6667  208200.0000  212000.0
Pennsylvania Philadelphia          53000.0000   53633.3333   54133.3333   54700.0000   55333.3333  ...  121233.3333  122200.0000  123433.3333  126933.3333  128700.0
Arizona      Phoenix              111833.3333  114366.6667  116000.0000  117400.0000  119600.0000  ...  179066.6667  183833.3333  187900.0000  191433.3333  195200.0
Nevada       Las Vegas            132600.0000  134366.6667  135400.0000  137000.0000  139533.3333  ...  186766.6667  190633.3333  194600.0000  197200.0000  199950.0
California   San Diego            222900.0000  234366.6667  245433.3333  256033.3333  267200.0000  ...  519766.6667  525466.6667  529333.3333  536233.3333  539750.0
Texas        Dallas                84466.6667   83866.6667   84866.6667   87833.3333   89733.3333  ...  128566.6667  134600.0000  140500.0000  144600.0000  149300.0
California   San Jose             374266.6667  406566.6667  431866.6667  455500.0000  470666.6667  ...  776400.0000  789133.3333  803600.0000  818933.3333  822200.0
Florida      Jacksonville          88600.0000   89700.0000   91700.0000   93100.0000   94400.0000  ...  130133.3333  132000.0000  133966.6667  137200.0000  139900.0
...                                       ...          ...          ...          ...          ...  ...          ...          ...          ...          ...       ...
California   Forest Falls         113533.3333  114400.0000  114166.6667  111133.3333  113433.3333  ...  191166.6667  198733.3333  188633.3333  189866.6667  186650.0
Missouri     Bois D Arc           107800.0000  106966.6667  107100.0000  108100.0000  110700.0000  ...  146300.0000  149433.3333  146866.6667  143766.6667  144000.0
Virginia     Henrico              128566.6667  130766.6667  132266.6667  133266.6667  135233.3333  ...  212100.0000  213966.6667  216033.3333  216200.0000  220150.0
New Jersey   Diamond Beach        173966.6667  183100.0000  188966.6667  193133.3333  194400.0000  ...  399233.3333  400433.3333  404533.3333  403900.0000  399000.0
Tennessee    Gruetli Laager        35400.0000   35466.6667   36666.6667   37300.0000   37733.3333  ...   69500.0000   71700.0000   75333.3333   76466.6667   77500.0
Wisconsin    Town of Wrightstown  101766.6667  105400.0000  111366.6667  114866.6667  125966.6667  ...  149866.6667  149933.3333  149833.3333  151266.6667  155000.0
New York     Urbana                79200.0000   81666.6667   91700.0000   98366.6667   94866.6667  ...  136466.6667  136166.6667  138966.6667  144200.0000  143000.0
Wisconsin    New Denmark          114566.6667  119266.6667  126066.6667  131966.6667  143800.0000  ...  188433.3333  188933.3333  191066.6667  192833.3333  197600.0
California   Angels               151000.0000  155900.0000  158100.0000  167466.6667  176833.3333  ...  263500.0000  279500.0000  276533.3333  271600.0000  269950.0
Wisconsin    Holland              151033.3333  150500.0000  153233.3333  155833.3333  161866.6667  ...  212866.6667  217833.3333  221966.6667  228033.3333  234950.0

[10730 rows x 67 columns]

# Prepare Dataset - University Town

In [106]:
df_uni_town = pd.read_csv('university_towns.txt', delimiter="\t", header=None, names=["data"])

df_uni_town.loc[:, "isState"] = df_uni_town["data"].str.strip().str.endswith("[edit]")
df_uni_town.loc[:, "State"] = np.where(df_uni_town["isState"], df_uni_town["data"], np.nan)
df_uni_town.loc[:, "State"] = df_uni_town["State"].fillna(method="ffill").str.replace("\[edit\]", "")

df_uni_town.loc[:, "RegionName"] = np.where(df_uni_town["isState"], np.nan, df_uni_town["data"])
df_uni_town.loc[:, "RegionName"] = df_uni_town["RegionName"].str.split(" \(").str[0]
df_uni_town = df_uni_town.dropna()

df_uni_town = df_uni_town[["State", "RegionName"]].reset_index(drop=True)

df_uni_town

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
5      Alabama           Troy
6      Alabama     Tuscaloosa
7      Alabama       Tuskegee
8       Alaska      Fairbanks
9      Arizona      Flagstaff
..         ...            ...
507  Wisconsin        Madison
508  Wisconsin      Menomonie
509  Wisconsin      Milwaukee
510  Wisconsin        Oshkosh
511  Wisconsin    Platteville
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

# Prepare Dataset - GDP Level

In [107]:
df_gdp = pd.read_excel(
    "gdplev.xls", sheet_name="Sheet1",
    usecols="E,G", names=["quarter", "gdp"],
    header=7
)

df_gdp.loc[:, "gdpDeclined"] = df_gdp["gdp"].diff() < 0

df_gdp.loc[:, "isRecession"] = False

for i in np.arange(len(df_gdp) - 2):
    
    if df_gdp.loc[i, "gdpDeclined"] and df_gdp.loc[i+1, "gdpDeclined"]:
        df_gdp.loc[i, "isRecession"] = True

        
    if (i != 0) and df_gdp.loc[i-1, "isRecession"] and not ((not df_gdp.loc[i, "gdpDeclined"]) and (not df_gdp.loc[i+1, "gdpDeclined"])):
        df_gdp.loc[i, "isRecession"] = True
        
        
df_gdp.loc[:, "recessionGroup"] = np.nan

recession_group_count = 0
for i in np.arange(1, len(df_gdp)):
    
    if (not df_gdp.loc[i-1, "isRecession"]) and df_gdp.loc[i, "isRecession"]:
        recession_group_count += 1
        df_gdp.loc[i, "recessionGroup"] = recession_group_count
    
    if df_gdp.loc[i , "isRecession"]:
        df_gdp.loc[i, "recessionGroup"] = recession_group_count

df_gdp

    quarter      gdp  gdpDeclined  isRecession  recessionGroup
0    1947q1   1934.5        False        False             NaN
1    1947q2   1932.3         True         True             1.0
2    1947q3   1930.3         True         True             1.0
3    1947q4   1960.7        False        False             NaN
4    1948q1   1989.5        False        False             NaN
5    1948q2   2021.9        False        False             NaN
6    1948q3   2033.2        False        False             NaN
7    1948q4   2035.3        False        False             NaN
8    1949q1   2007.5         True         True             2.0
9    1949q2   2000.8         True         True             2.0
..      ...      ...          ...          ...             ...
268  2014q1  15747.0         True        False             NaN
269  2014q2  15900.8        False        False             NaN
270  2014q3  16094.5        False        False             NaN
271  2014q4  16186.7        False        False             NaN
272  2015q1  16269.0        False        False             NaN
273  2015q2  16374.2        False        False             NaN
274  2015q3  16454.9        False        False             NaN
275  2015q4  16490.7        False        False             NaN
276  2016q1  16525.0        False        False             NaN
277  2016q2  16583.1        False        False             NaN

[278 rows x 5 columns]

In [108]:
def compute_recession_stats(df_group):
    result = pd.Series()
    result.loc["recessionStart"] = df_group["quarter"].values[0]
    result.loc["recessionEnd"] = df_group["quarter"].values[-1]
    result.loc["recessionBottom"] = df_group.sort_values(by="gdp")["quarter"].values[0]
    return result

df_gdp[df_gdp["isRecession"]].groupby("recessionGroup").apply(compute_recession_stats)

               recessionStart recessionEnd recessionBottom
recessionGroup
1.0                    1947q2       1947q3          1947q3
2.0                    1949q1       1949q4          1949q2
3.0                    1953q3       1954q1          1954q1
4.0                    1957q4       1958q1          1958q1
5.0                    1969q4       1970q1          1970q1
6.0                    1974q3       1975q1          1975q1
7.0                    1980q2       1980q3          1980q3
8.0                    1981q4       1982q3          1982q1
9.0                    1990q4       1991q1          1991q1
10.0                   2008q3       2009q2          2009q2

# Run Tests

In [117]:
df_home_price_quarter.sort_index()

                               2000q1       2000q2       2000q3       2000q4       2001q1  ...       2015q4       2016q1       2016q2    2016q3                label
State     RegionName                                                                       ...
Alabama   Adamsville       69033.3333   69166.6667   69800.0000   71966.6667   73466.6667  ...   73866.6667   74166.6667   74933.3333   74700.0  non-university town
          Alabaster       122133.3333  123066.6667  123166.6667  123700.0000  123233.3333  ...  151733.3333  153466.6667  155100.0000  155850.0  non-university town
          Albertville      73966.6667   72600.0000   72833.3333   74200.0000   75900.0000  ...   91366.6667   92000.0000   92466.6667   92200.0  non-university town
          Arab             83766.6667   81566.6667   81333.3333   82966.6667   84200.0000  ...  112233.3333  110033.3333  110100.0000  112000.0  non-university town
          Ardmore                 NaN          NaN          NaN          NaN          NaN  ...  143966.6667  142566.6667  143233.3333  141950.0  non-university town
          Axis                    NaN          NaN          NaN          NaN          NaN  ...  109600.0000  110266.6667  112200.0000  112750.0  non-university town
          Baileyton               NaN          NaN          NaN          NaN          NaN  ...   97233.3333   96766.6667   98900.0000  102200.0  non-university town
          Bay Minette      81700.0000   78533.3333   79133.3333   81300.0000   85700.0000  ...  121433.3333  120266.6667  118333.3333  118500.0  non-university town
          Bayou La Batre   44066.6667   44500.0000   44266.6667   43666.6667   42500.0000  ...   48933.3333   48566.6667   47833.3333   47400.0  non-university town
          Bessemer                NaN          NaN          NaN          NaN          NaN  ...   59433.3333   59766.6667   59866.6667   59800.0  non-university town
...                               ...          ...          ...          ...          ...  ...          ...          ...          ...       ...                  ...
Wisconsin Wolf River       95166.6667   99333.3333  103800.0000  107633.3333  111400.0000  ...  163266.6667  159500.0000  160933.3333  168050.0  non-university town
          Woodruff                NaN          NaN          NaN          NaN          NaN  ...  165600.0000  162533.3333  161966.6667  164200.0  non-university town
          Woodville               NaN          NaN          NaN          NaN          NaN  ...  181800.0000  182633.3333  186666.6667  193100.0  non-university town
          Yorkville       139066.6667  134900.0000  135033.3333  140300.0000  148800.0000  ...  244800.0000  248466.6667  255200.0000  265950.0  non-university town
Wyoming   Bar Nunn         93033.3333   89666.6667   88900.0000   93500.0000   98833.3333  ...  211800.0000  210200.0000  208833.3333  207450.0  non-university town
          Burns           101533.3333  104566.6667  108366.6667  113000.0000  115833.3333  ...  164300.0000  168266.6667  171600.0000  170500.0  non-university town
          Casper           89233.3333   89600.0000   89733.3333   93166.6667   95500.0000  ...  182700.0000  184333.3333  185166.6667  184350.0  non-university town
          Cheyenne        116866.6667  120033.3333  121533.3333  123633.3333  125533.3333  ...  190666.6667  194433.3333  196500.0000  199100.0  non-university town
          Evansville      128033.3333  128766.6667  130833.3333  132066.6667  130566.6667  ...  304200.0000  309433.3333  309200.0000  309050.0  non-university town
          Pine Bluffs      93733.3333   95066.6667   94633.3333   98066.6667  103233.3333  ...  169200.0000  166833.3333  163800.0000  157650.0  non-university town

[10730 rows x 68 columns]

In [119]:
df_uni_town.loc[:, "label"] = "university town"
df_uni_town = df_uni_town.set_index(["State", "RegionName"])

df_uni_town

                                   label
State     RegionName
Alabama   Auburn         university town
          Florence       university town
          Jacksonville   university town
          Livingston     university town
          Montevallo     university town
          Troy           university town
          Tuscaloosa     university town
          Tuskegee       university town
Alaska    Fairbanks      university town
Arizona   Flagstaff      university town
...                                  ...
Wisconsin Madison        university town
          Menomonie      university town
          Milwaukee      university town
          Oshkosh        university town
          Platteville    university town
          River Falls    university town
          Stevens Point  university town
          Waukesha       university town
          Whitewater     university town
Wyoming   Laramie        university town

[517 rows x 1 columns]

In [120]:
df_home_price_quarter.index.isin(df_uni_town.index)

array([False, False, False, ..., False, False, False])

In [127]:

df_home_price_quarter.loc[:, "label"] = np.where(df_home_price_quarter.index.isin(df_uni_town.index), "university town", "non-university town")

df_home_price_quarter

                                       2000q1       2000q2       2000q3       2000q4       2001q1  ...       2015q4       2016q1       2016q2    2016q3                label
State        RegionName                                                                            ...
New York     New York                     NaN          NaN          NaN          NaN          NaN  ...  572833.3333  582866.6667  591633.3333  587200.0  non-university town
California   Los Angeles          207066.6667  214466.6667  220966.6667  226166.6667  233000.0000  ...  557733.3333  566033.3333  577466.6667  584050.0  non-university town
Illinois     Chicago              138400.0000  143633.3333  147866.6667  152133.3333  156933.3333  ...  207900.0000  206066.6667  208200.0000  212000.0  non-university town
Pennsylvania Philadelphia          53000.0000   53633.3333   54133.3333   54700.0000   55333.3333  ...  122200.0000  123433.3333  126933.3333  128700.0  non-university town
Arizona      Phoenix              111833.3333  114366.6667  116000.0000  117400.0000  119600.0000  ...  183833.3333  187900.0000  191433.3333  195200.0  non-university town
Nevada       Las Vegas            132600.0000  134366.6667  135400.0000  137000.0000  139533.3333  ...  190633.3333  194600.0000  197200.0000  199950.0      university town
California   San Diego            222900.0000  234366.6667  245433.3333  256033.3333  267200.0000  ...  525466.6667  529333.3333  536233.3333  539750.0      university town
Texas        Dallas                84466.6667   83866.6667   84866.6667   87833.3333   89733.3333  ...  134600.0000  140500.0000  144600.0000  149300.0      university town
California   San Jose             374266.6667  406566.6667  431866.6667  455500.0000  470666.6667  ...  789133.3333  803600.0000  818933.3333  822200.0  non-university town
Florida      Jacksonville          88600.0000   89700.0000   91700.0000   93100.0000   94400.0000  ...  132000.0000  133966.6667  137200.0000  139900.0  non-university town
...                                       ...          ...          ...          ...          ...  ...          ...          ...          ...       ...                  ...
California   Forest Falls         113533.3333  114400.0000  114166.6667  111133.3333  113433.3333  ...  198733.3333  188633.3333  189866.6667  186650.0  non-university town
Missouri     Bois D Arc           107800.0000  106966.6667  107100.0000  108100.0000  110700.0000  ...  149433.3333  146866.6667  143766.6667  144000.0  non-university town
Virginia     Henrico              128566.6667  130766.6667  132266.6667  133266.6667  135233.3333  ...  213966.6667  216033.3333  216200.0000  220150.0  non-university town
New Jersey   Diamond Beach        173966.6667  183100.0000  188966.6667  193133.3333  194400.0000  ...  400433.3333  404533.3333  403900.0000  399000.0  non-university town
Tennessee    Gruetli Laager        35400.0000   35466.6667   36666.6667   37300.0000   37733.3333  ...   71700.0000   75333.3333   76466.6667   77500.0  non-university town
Wisconsin    Town of Wrightstown  101766.6667  105400.0000  111366.6667  114866.6667  125966.6667  ...  149933.3333  149833.3333  151266.6667  155000.0  non-university town
New York     Urbana                79200.0000   81666.6667   91700.0000   98366.6667   94866.6667  ...  136166.6667  138966.6667  144200.0000  143000.0  non-university town
Wisconsin    New Denmark          114566.6667  119266.6667  126066.6667  131966.6667  143800.0000  ...  188933.3333  191066.6667  192833.3333  197600.0  non-university town
California   Angels               151000.0000  155900.0000  158100.0000  167466.6667  176833.3333  ...  279500.0000  276533.3333  271600.0000  269950.0  non-university town
Wisconsin    Holland              151033.3333  150500.0000  153233.3333  155833.3333  161866.6667  ...  217833.3333  221966.6667  228033.3333  234950.0  non-university town

[10730 rows x 68 columns]

In [131]:
quarter_before_recession = "2008q2"
recession_bottom = "2009q2"

In [132]:
df_home_price_quarter.loc[:, "price ratio"] = df_home_price_quarter[quarter_before_recession] / df_home_price_quarter[recession_bottom]

df_home_price_quarter

                                       2000q1       2000q2       2000q3       2000q4       2001q1  ...       2016q1       2016q2    2016q3                label  price ratio
State        RegionName                                                                            ...
New York     New York                     NaN          NaN          NaN          NaN          NaN  ...  582866.6667  591633.3333  587200.0  non-university town       1.0818
California   Los Angeles          207066.6667  214466.6667  220966.6667  226166.6667  233000.0000  ...  566033.3333  577466.6667  584050.0  non-university town       1.2135
Illinois     Chicago              138400.0000  143633.3333  147866.6667  152133.3333  156933.3333  ...  206066.6667  208200.0000  212000.0  non-university town       1.0828
Pennsylvania Philadelphia          53000.0000   53633.3333   54133.3333   54700.0000   55333.3333  ...  123433.3333  126933.3333  128700.0  non-university town       1.0169
Arizona      Phoenix              111833.3333  114366.6667  116000.0000  117400.0000  119600.0000  ...  187900.0000  191433.3333  195200.0  non-university town       1.2201
Nevada       Las Vegas            132600.0000  134366.6667  135400.0000  137000.0000  139533.3333  ...  194600.0000  197200.0000  199950.0      university town       1.4136
California   San Diego            222900.0000  234366.6667  245433.3333  256033.3333  267200.0000  ...  529333.3333  536233.3333  539750.0      university town       1.1332
Texas        Dallas                84466.6667   83866.6667   84866.6667   87833.3333   89733.3333  ...  140500.0000  144600.0000  149300.0      university town       1.0977
California   San Jose             374266.6667  406566.6667  431866.6667  455500.0000  470666.6667  ...  803600.0000  818933.3333  822200.0  non-university town       1.1536
Florida      Jacksonville          88600.0000   89700.0000   91700.0000   93100.0000   94400.0000  ...  133966.6667  137200.0000  139900.0  non-university town       1.1392
...                                       ...          ...          ...          ...          ...  ...          ...          ...       ...                  ...          ...
California   Forest Falls         113533.3333  114400.0000  114166.6667  111133.3333  113433.3333  ...  188633.3333  189866.6667  186650.0  non-university town       1.2032
Missouri     Bois D Arc           107800.0000  106966.6667  107100.0000  108100.0000  110700.0000  ...  146866.6667  143766.6667  144000.0  non-university town       0.8901
Virginia     Henrico              128566.6667  130766.6667  132266.6667  133266.6667  135233.3333  ...  216033.3333  216200.0000  220150.0  non-university town       1.0540
New Jersey   Diamond Beach        173966.6667  183100.0000  188966.6667  193133.3333  194400.0000  ...  404533.3333  403900.0000  399000.0  non-university town       1.0876
Tennessee    Gruetli Laager        35400.0000   35466.6667   36666.6667   37300.0000   37733.3333  ...   75333.3333   76466.6667   77500.0  non-university town       0.7321
Wisconsin    Town of Wrightstown  101766.6667  105400.0000  111366.6667  114866.6667  125966.6667  ...  149833.3333  151266.6667  155000.0  non-university town       1.0354
New York     Urbana                79200.0000   81666.6667   91700.0000   98366.6667   94866.6667  ...  138966.6667  144200.0000  143000.0  non-university town       0.9390
Wisconsin    New Denmark          114566.6667  119266.6667  126066.6667  131966.6667  143800.0000  ...  191066.6667  192833.3333  197600.0  non-university town       0.9700
California   Angels               151000.0000  155900.0000  158100.0000  167466.6667  176833.3333  ...  276533.3333  271600.0000  269950.0  non-university town       1.1597
Wisconsin    Holland              151033.3333  150500.0000  153233.3333  155833.3333  161866.6667  ...  221966.6667  228033.3333  234950.0  non-university town       1.1357

[10730 rows x 69 columns]

In [134]:
ttest_ind(
    df_home_price_quarter.loc[df_home_price_quarter["label"] == "university town", "price ratio"].dropna(),
    df_home_price_quarter.loc[df_home_price_quarter["label"] == "non-university town", "price ratio"].dropna(),
)

Ttest_indResult(statistic=-2.998032664179151, pvalue=0.002724063704761454)