In [49]:
from pprint import pprint

In [1]:
print("Hello Anaconda")

Hello Anaconda

In [1]:
X=1
Y=2
X*Y

2

`add_numbers` is a function that takes two numbers and adds them together.

In [10]:
def add_numbers(x, y,z):
  return x+y+z

print(add_numbers(1, 2,3))

6

In [7]:
def add_numbers(x, y, z=None, flag=False):
    if (flag):
        print('Flag is true!')
    if (z==None):
        return x + y
    else:
        return x + y + z
    
print(add_numbers(1, 2, flag=True))

Flag is true!
3

In [5]:
 
tup2 = (1, 2, 3, 4, 5, 6, 7 )
 
 
print("tup2[1:5]: ", tup2[1:5])

tup2[1:5]:  (2, 3, 4, 5)

In [7]:
x = 'Dr. Christopher Brooks'

print(x[4:16])

Christopher

In [2]:
3/2
3.0/2

1.5

In [6]:
# list 方括号，逗号隔开
# 0 is the first one in list, then 1,2,...注意是方括号

bicycles=["trek","cannondale","redline","specialized"]
print(bicycles) 
print(bicycles[0])

# -1 从列表最后一个开始

print(bicycles[-1])

#title : 首字母大写
print(bicycles[0].title())

message="my 1st bicycle is" + bicycles[0].title()+"."
print(message)

['trek', 'cannondale', 'redline', 'specialized']
trek
specialized
Trek
my 1st bicycle isTrek.

Types and Sequences

In [8]:
# Use `type` to return the object's type.
type('This is a string')

str

In [9]:
type(None)

NoneType

In [10]:
type(1)

int

In [11]:
type(1.0)

float

In [12]:
x = (1, 'a', 2, 'b')
type(x)

#Tuples are an immutable data structure (cannot be altered).

tuple

In [13]:
x = [1, 'a', 2, 'b']
type(x)
# Lists are a mutable data structure.

list

In [14]:

# Use `append` to append an object to a list.

x.append(3.3)
print(x)

[1, 'a', 2, 'b', 3.3]

In [15]:
for item in x:
    print(item)

1
a
2
b
3.3

In [16]:
i=0
while( i != len(x) ):
    print(x[i])
    i = i + 1

1
a
2
b
3.3

In [17]:
# Use `+` to concatenate lists.

[1,2] + [3,4]

[1, 2, 3, 4]

In [18]:
# se `*` to repeat lists.
[1]*3

[1, 1, 1]

In [19]:

# Use the `in` operator to check if something is inside a list.

1 in [1, 2, 3]

True

In [17]:
# amend list item

motorbike=["honda","yamaha","suzuki"]

print(motorbike)

['honda', 'yamaha', 'suzuki']

In [18]:
motorbike[0]="ducati"

print(motorbike)

['ducati', 'yamaha', 'suzuki']

In [19]:
motorbike.insert(0,"newone")
print(motorbike)

['newone', 'ducati', 'yamaha', 'suzuki']

In [20]:
del motorbike[0]
print(motorbike)

['ducati', 'yamaha', 'suzuki']

In [21]:
pop_bike=motorbike.pop()

print(pop_bike)

suzuki

In [22]:
first_bike=motorbike.pop(0)

print("my 1st bike is" + first_bike.title()+".")

my 1st bike isDucati.

In [23]:
# popped item are not in the list anymore

print(motorbike)

['yamaha']

In [24]:
another_bikelist=["honda","yamaha","someth"]
print(another_bikelist)

['honda', 'yamaha', 'someth']

In [25]:
another_bikelist.remove("yamaha")

print(another_bikelist)

['honda', 'someth']

In [40]:
car=["mini","bmw","audi"]

car.sort()

print(car)

['audi', 'bmw', 'mini']

In [39]:
car=["mini","bmw","audi"]
car.sort(reverse=1)
print(car)

['mini', 'bmw', 'audi']

In [42]:
# position change not alphabetic

car=["mini","zzz","audi"]
car. reverse()
print(car)

['audi', 'zzz', 'mini']

In [43]:
len(car)

3

Use bracket notation to slice a string.

In [20]:
x = 'This is a string'
print(x[0]) #first character
print(x[0:1]) #first character, but we have explicitly set the end character
print(x[0:2]) #first two characters

T
T
Th

In [21]:
x[-4:-2] 
#This will return the slice starting from the 4th element from the end and stopping before the 2nd element from the end.

'ri'

In [23]:
#This is a slice from the beginning of the string and stopping before the 3rd element.
x[:3]

'Thi'

In [24]:
# And this is a slice starting from the 3rd element of the string and going all the way to the end.
x[3:]

's is a string'

In [25]:
firstname = 'Christopher'
lastname = 'Brooks'

print(firstname + ' ' + lastname)
print(firstname*3)
print('Chris' in firstname)

Christopher Brooks
ChristopherChristopherChristopher
True

In [27]:
'chris'+str(2)

'chris2'

In [28]:
# Dictionaries associate keys with values.

x = {'Christopher Brooks': 'brooksch@umich.edu', 'Bill Gates': 'billg@microsoft.com'}
x['Christopher Brooks']

'brooksch@umich.edu'

In [32]:
x['Kevyn Collins-Thompson'] = None
x['Kevyn Collins-Thompson']

In [33]:
for name in x:
    print(x[name])

brooksch@umich.edu
billg@microsoft.com
None

In [34]:
for email in x.values():
    print(email)

brooksch@umich.edu
billg@microsoft.com
None

In [35]:
for name, email in x.items():
    print(name)
    print(email)

Christopher Brooks
brooksch@umich.edu
Bill Gates
billg@microsoft.com
Kevyn Collins-Thompson
None

In [37]:
x = ('Christopher', 'Brooks', 'brooksch@umich.edu')
fname, lname, email = x

In [38]:
fname

'Christopher'

In [39]:
lname

'Brooks'

In [40]:

# Python has a built in method for convenient string formatting.

sales_record = {
'price': 3.24,
'num_items': 4,
'person': 'Chris'}

sales_statement = '{} bought {} item(s) at a price of {} each for a total of {}'

print(sales_statement.format(sales_record['person'],
                             sales_record['num_items'],
                             sales_record['price'],
                             sales_record['num_items']*sales_record['price']))

Chris bought 4 item(s) at a price of 3.24 each for a total of 12.96

# The Python Programming Language: Dates and Times

In [41]:
import datetime as dt
import time as tm

In [42]:
tm.time()
# `time` returns the current time in seconds since the Epoch. (January 1st, 1970)

1576866229.4755895

In [44]:
dtnow=dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2019, 12, 20, 18, 25, 6, 50279)

In [52]:
dtnow.year

2019

In [49]:
dtnow.day

20

In [50]:
dtnow.month

12

In [51]:
dtnow.second

6

In [53]:
# `timedelta` is a duration expressing the difference between two dates.

newdate=dt.timedelta(days=100)
newdate

datetime.timedelta(days=100)

In [54]:
today = dt.date.today()

In [56]:
today - newdate

datetime.date(2019, 9, 11)

In [57]:
today > today-newdate

True

dictionary

In [44]:
alien_0={
    "color":"green", 
    "points":5
    }  #花括号

print(alien_0["color"]) #方括号
print(alien_0["points"]) #方括号

green
5

In [46]:
#adding new pairs to this dictionary

alien_0["x_position"]=0  #方括号
alien_0["y_position"]=25  #方括号

print(alien_0)

{'color': 'green', 'points': 5, 'x_position': 0, 'y_position': 25}

In [52]:
#or you can create an empty dictionary, then add pairs

alien_0={}
alien_0["x_position"]=0  #方括号
alien_0["y_position"]=25  #方括号
print(alien_0)

{'x_position': 0, 'y_position': 25}

In [53]:
alien_0={
    "color":"green", 
    "points":5
    }

alien_0["color"]="yellow"  #修改
print(alien_0)

{'color': 'yellow', 'points': 5}

In [54]:
alien_0={
    "color":"green", 
    "points":5
    }
del alien_0["points"]  #删除、永久

print(alien_0)

{'color': 'green'}