In [2]:
import pandas as pd

In [4]:
animals=["cat","dog","tiger"]

pd.Series(animals)  #S必须大写

0      cat
1      dog
2    tiger
dtype: object

In [5]:
numers=[1,2,3]

pd.Series(numers)

0    1
1    2
2    3
dtype: int64

In [7]:
animals=["cat","dog",None]  #N必须大写 , missing data

pd.Series(animals)

0     cat
1     dog
2    None
dtype: object

In [8]:
numers=[1,2,None]

pd.Series(numers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [10]:
import numpy as np

In [11]:
np.nan == None

False

make an series using dictionary created

In [15]:
sports={
    "pingpong":"China",
    "teakwondo":"Korea",
    "swimming": "USA",
    "golf":"UK"
    
}


s=pd.Series(sports)

s

pingpong     China
teakwondo    Korea
swimming       USA
golf            UK
dtype: object

adding index winthin create a series

In [17]:
s=pd.Series(["Tiger","Fish","Cat"] ,
            index=["US","India","China"]  #adding index here
            )
s

US       Tiger
India     Fish
China      Cat
dtype: object

#query a series

In [18]:
sports={
    "pingpong":"China",
    "teakwondo":"Korea",
    "swimming": "USA",
    "golf":"UK"
    
}


s=pd.Series(sports)

s

pingpong     China
teakwondo    Korea
swimming       USA
golf            UK
dtype: object

In [19]:
s.iloc[3]  #iloc: what is the nth value (index position)

'UK'

In [22]:
s.loc["swimming"] #loc: what is the value with this index  (index label)

'USA'

In [23]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [25]:
total=0
for item in s:
    total+=item  # =+ means:  x += n  x = x + n
    print(total)

100.0
220.0
321.0
324.0

In [26]:
total=0
for item in s:
    total+=item  # =+ means:  x += n  x = x + n
    
print(total)

324.0

In [27]:
import numpy as np

In [28]:
total= np.sum(s)

print(total)

324.0

In [38]:
#this creates a big series of random numbers
s = pd.Series(
    np.random.randint(0,1000,10000)
)

In [34]:
data = pd.Series(np.arange(10) ** 2)
data

0     0
1     1
2     4
3     9
4    16
5    25
6    36
7    49
8    64
9    81
dtype: int32

In [41]:
s.head()  # default show first 5

0    618
1    130
2    843
3    785
4    269
dtype: int32

In [42]:
len(s)

10000

In [43]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    620
1    132
2    845
3    787
4    271
dtype: int32

In [52]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'  #append a new line
print(s)   # if there is no lines after, no need to use print, can simply be s

y = 1

0             1
1             2
2             3
Animal    Bears
dtype: object

In [45]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [46]:
original_sports  #? when to use print?

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [47]:
cricket_loving_countries

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [48]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [49]:
all_countries.loc['Cricket']

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

#DataFrame

In [57]:
purchase1=pd.Series({
      'Name': 'Chris',
      'Item Purchased': 'Dog Food',
      'Cost': 22.50  
})
purchase2=pd.Series({
      'Name': 'Kevyn',
      'Item Purchased': 'Kitty Litter',
      'Cost': 2.50  
})
purchase3=pd.Series({
     'Name': 'Vinod',
     'Item Purchased': 'Bird Seed',
     'Cost': 5.00 
})

total_purchase = pd.DataFrame(
                [purchase1,purchase2,purchase3],
                index=["Store1","Store1", "Store2"]
)

print(total_purchase)

         Name Item Purchased  Cost
Store1  Chris       Dog Food  22.5
Store1  Kevyn   Kitty Litter   2.5
Store2  Vinod      Bird Seed   5.0

In [58]:
total_purchase.loc["Store2"]

Name                  Vinod
Item Purchased    Bird Seed
Cost                      5
Name: Store2, dtype: object